<div *ngIf="errorMessage != null">
    <div class="form-group">
        <label class="col-form-label" for="inputError"><i class="far fa-times-circle"></i> {{ errorMessage }}</label>
      </div>
</div>