<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid" *ngIf="headerPageActive; else headerComponent">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Cadastrar Usuarios</h1>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <ng-template #headerComponent>
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Atualizar usuários</h1>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title" *ngIf="headerPageActive; else headComponent">Cadastrar</h3>
            <ng-template #headComponent>
              <h3 class="card-title">Atualizar dados</h3>
            </ng-template>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="form">
              <div class="row">
                <app-input-field
                  class="col-sm-6"
                  formControlName="nome"
                  [classeCss]="aplicaCssErro('nome')"
                  id="nome"
                  label="Nome"
                  [type]="text"
                  [control]="form.get('nome')">
                </app-input-field>
                <app-input-field
                  class="col-sm-6"
                  formControlName="email"
                  [classeCss]="aplicaCssErro('email')"
                  id="email"
                  label="Email"
                  [type]="text"
                  [control]="form.get('email')">
                </app-input-field>
                <app-input-field
                  class="col-sm-6"
                  formControlName="usuario"
                  [classeCss]="aplicaCssErro('usuario')"
                  id="usuario"
                  label="Usuario"
                  [type]="text"
                  [control]="form.get('usuario')">
                </app-input-field>
                <app-input-field class="col-sm-6" formControlName="senha" [classeCss]="aplicaCssErro('senha')"
                  id="senha" label="Senha" [control]="form.get('senha')"></app-input-field>
              </div>
            </form>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-primary" (click)="routerCancel()">Voltar</button>
        <button type="button" class="btn btn-secondary float-right" (click)="onCancel()">Cancelar</button>
        <input type="submit" value="Salvar" class="btn btn-success float-right btn-submmit" (click)="onSubmit()" />
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>