<div class="form-group" >
    <label [attr.for]="id" class="control-label">{{ label }}</label>
    <input [type]="type"  [ngClass]="classeCss"
    [id]="id" [readonly]="!!isReadOnly"
    [(ngModel)]="value">
    <app-error-msg [control]="control" [label]="label"></app-error-msg>
</div>
