<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a routerLink="/" class="brand-link">
    <img src="../../../assets/images/sidebar/logo-indra.jpg" alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Indra</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="../../../assets/images/sidebar/imagem-perfil.jpeg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <span class="d-block" class="user-profile">Ítalo Nascimento</span>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Menu
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link" routerLink="/usuarios" routerLinkActive="active">
                <i class="far fa-circle nav-icon"></i>
                <p>Listar Usuários</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/cadastro-usuarios" routerLinkActive="active" (click)="setHeaderActive()">
                <i class="far fa-circle nav-icon"></i>
                <p>Cadastrar usuários</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>