<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Gerenciador de usuarios</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Listar Usuarios</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
            <i class="fas fa-times"></i></button>
        </div>
      </div>
      <div class="card-body p-0">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap" *ngIf="usuarios$ | async as usuarios else loadingError">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nome</th>
                      <th>Email</th>
                      <th>Usuario</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let usuario of usuarios">
                      <td>{{ usuario.id }}</td>
                      <td>{{ usuario.nome }}</td>
                      <td>{{ usuario.email }}</td>
                      <td>{{ usuario.usuario }}</td>
                      <td class="project-actions text-right">
                        <a class="btn btn-info btn-sm btn-edt" (click)="onEdit(usuario.id)" (click)="setHeaderActive()">
                          <i class="fas fa-pencil-alt fas-btn">
                          </i>
                          <span class="text-button">Editar</span>
                        </a>
                        <a class="btn btn-danger btn-sm" (click)="onDelete(usuario)">
                          <i class="fas fa-trash btn-del fas-btn">
                          </i>
                          <span class="text-button">Deletar</span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <ng-template #loadingError>
                  <div *ngIf = "error$ | async; else loading">
                    Erro ao carregar cursos. Tente novamente mais tarde.
                  </div>
                  <ng-template #loading>
                    <div class="d-flex justify-content-center">
                        <i class="fas fa-3x fa-sync-alt fa-spin"></i>
                    </div>  
                  </ng-template>
                </ng-template>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

  </section>
  <!-- /.content -->
  <div class="col-12">
    <input type="submit" value="Cadastrar Usuarios" class="btn btn-success float-right" routerLink="/cadastro-usuarios"  >
  </div>
</div>
<!-- /.content-wrapper -->

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja remover?</p>
    <button type="button" class="btn btn-default btn-confirm" (click)="onConfirmDelete()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Não</button>
  </div>
</ng-template>

